# Ignore node_modules folder
node_modules/

# Optionally, you can ignore logs, environment files, and other unwanted files
npm-debug.log
yarn-error.log
.env

# Ignore system files
.DS_Store
Thumbs.db
